%h1 User blogs

%table
  %tr
    %th Name
    %th Login
    %th Password
    %th Url
    / %th Active
    / %th User
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.name
      %td= blog.login
      %td= blog.password
      %td= blog.url
      / %td= blog.active
      / %td= blog.user_id
      %td{:class => "btn"}= link_to 'Show', blog_path(blog)
      %td{:class => "btn"}= link_to 'Edit', edit_blog_path(blog)
      %td{:class => "btn"}= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete

%br

  %li{:class => "btn"}= link_to 'New Blog', new_blog_path
